<div class="modal alert alert-success alert-dismissible fade in" id="myModal">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <strong>Success!</strong> This alert box could indicate a successful or positive action.
</div>
