<div class="searchField">
    <input type="text" class="form-control" id="searchField" placeholder="Product search"/>
    <div id="serachItemsContainer"  class="searchItemsContainer" style="display: none">
        <div class="noResultsText" id="noResultsText" style="display: none;"><p>No results to display</p></div>
    </div>
</div>
