body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.productsList {
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.productsListItem {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 200px;
    height: 300px;
    margin-top: 12px;
    margin-bottom: 12px;
    border: 1px solid lightGray;
    border-radius: 10px;
}

    .productsListItem:hover {
        background-color: ghostwhite;
    }

 

        .productsListItem.notInStock a {
            color: dimgray;
        }

        .productsListItem.notInStock input[type=button] {
            background-color: gray;
            color: black;
            border-color: gray;
        }

.searchField {
    float: left;
    margin: 8px;
    margin-left: 10px;
    width: 280px;
}

.searchItemsContainer {
    width: 280px;
    position: fixed;
    background-color: white;
    color: black;
    border: 1px solid #f2f2f2;
    border-radius: 3px;
}

.noResultsText {
    margin: 10px;
    font-size: 14px;
    color: black;
}

.productSerachItem {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    color: black;
    border-top: 1px solid #f2f2f2;
}

.productSerachItem:hover {
   background-color: ghostwhite;
}

    .productSerachItem img {
        height: 40px;
        width: 40px;
        margin: 10px;
    }

    .productSerachItem .productSerachItemInfo {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 50%;
    }

.productsSortBar {
    display: flex;
    width: 600px;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
}

    .productsSortBar .productsSortBarInput {
        margin: 3px;
        margin-right: 8px;
        border-radius: 3px;
    }

.productsSort input[type=submit] {
    border-radius: 5px;
}