body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.productsList {
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.productsListItem {
    margin-right: 12px;
    margin-left: 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 200px;
    height: 300px;
    margin-top: 12px;
    margin-bottom: 12px;
    border: 1px solid lightGray;
    border-radius: 10px;
}

    .productsListItem:hover {
        background-color: ghostwhite;
    }


    .productsListItem.notInStock a {
        color: dimgray;
    }

.btn.add-to-basket:disabled,
.btn.add-to-basket[disabled] {
    background-color: gray;
    color: black;
    border-color: gray;
}

.searchField {
    display: inline-block;
    margin: 8px;
    margin-left: 10px;
    width: 350px;
    max-width: 90%;
}

    .searchField input[type=text] {
        max-width: 100% !important;
    }


.searchItemsContainer {
    z-index: 999;
    width: 350px;
    position: fixed;
    background-color: white;
    color: black;
    border: 1px solid #f2f2f2;
    border-radius: 3px;
}

.noResultsText {
    margin: 10px;
    font-size: 14px;
    color: black;
}

.productSearchItem {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    color: black;
    border-top: 1px solid #f2f2f2;
}

.productSearchItem:hover {
    background-color: ghostwhite;
}

.itemImageContainer {
    display: flex;
    width: 68px;
    justify-content: center;
    align-items: center;
    margin: 0 8px 0 8px;
}

.productSearchItem img {
    max-height: 50px;
    max-width: 60px;
}

.productSearchItem .productSearchItemInfo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 250px;
    height: 48px;
    margin-top: 6px;
    margin-bottom: 6px;
}

.productSearchItemTitle {
    white-space: nowrap;
    font-size: 12pt;
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    overflow-wrap: break-word;
}

.productsSortBar {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
}

    .productsSortBar .productsSortBarInput {
        margin: 3px;
        margin-right: 8px;
        border-radius: 3px;
        box-sizing: border-box;
        border-radius: 4px;
        border: 1px solid #dddde0;
        box-shadow: inset 2px 3px 0 0 #f2f2f3;
    }

.productsSort input[type=submit] {
    border-radius: 5px;
}

.pagination {
    display: inline-block;
}

    .pagination a {
        color: black;
        float: left;
        padding: 8px 16px;
        text-decoration: none;
    }

        .pagination a.active {
            background-color: #4CAF50;
            color: white;
        }

    .pagination a {
        transition: background-color .3s;
    }

        .pagination a:hover {
            background-color: #ddd;
        }

        .pagination a.active:hover {
            background-color: #4CAF50 !important;
        }
