@{
    ViewBag.Title = "All products";
}

<h2>All products</h2>

<hr />

<div class="productsList" id="productsContainer">
    @Html.Action("ProductsPage")
</div>

@section Scripts {
    @Scripts.Render("~/Scripts/PructsListScroll.js")
}
