@model IEnumerable<MyStore.Mvc.Models.ProductViewModels.ProductListItemViewModel>
@foreach (var product in Model)
{
    <div class="productSerachItem">
        <img src="~/Content/Images/@product.Image">
        <div class="productSerachItemInfo">
            <h4>
                @Html.ActionLink(product.Title, "Details", "Product", new
                {
                    link = product.Url,
                    externalProductId = product.ExternalProductId,
                    returnUrl = (Request.IsAjaxRequest() ? Request.UrlReferrer : Request.Url).PathAndQuery
                }, null)
            </h4>
            <p>Price: @product.Price.ToString("C2")</p>
        </div>
    </div>
}
