@model IEnumerable<MyStore.Mvc.Models.ProductViewModels.ProductListItemViewModel>
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>MyStore</h1>
    <p class="lead">MyStore - the best store in the world.</p>
</div>

@Html.Action("TopProducts", "Product")